<div class="content-sup">
	<div class="content">
		<table>
			<tr>
				<td>Section</td>
				<td>{{section.libelle}}</td>
			</tr>
		</table>
	</div>
	<button name="{{section.id}}" id="{{section.libelle}}" class="confirmed-section-yes confirmed">Supprimer</button>
	<button class="confirmed-no confirmed">Annuler</button>
</div>
<script src="{{ asset('assets/js/ajax/section_ufr.js') }}"></script>